

/* 目录栏 */
.leftToc {
  position: fixed;
  width: 210px;
  margin-left: 45px;
  margin-top: 46px;
  margin-right: 47px;
  
}
.backIcon{
  display: block;
  width: 210px;
  height: 40px;
  margin-bottom: 30px;
  background: url(../../images/back_icon.svg) no-repeat ;
  background-position: top 0vw left 0vw;
  background-size: 40px;
  cursor: pointer;
}
.cataTitle{
  width: 210px;
  font-size: 36px;
  margin-bottom:25px;
  margin-left: -5px;
  font-weight: bold;
  padding-bottom: 10px;
  border-bottom: 2px solid #E6E6E6;


}
.bigTitle {
  font-size: 16px;
  font-weight: bold;
  margin-top: 20px;
  cursor: pointer;

}
.bigTitle:hover{
  text-decoration: underline;
}

.smallTitle {
  font-size: 14px;
  font-weight: normal;
  margin-top: 20px;
  cursor: pointer;
}
.smallTitle:hover{
  text-decoration: underline;
}

/* 文章区 */
.articleBody {
  position:relative;
  margin-left: 300px;
  padding: 5px;
}
.articleContent {
  box-sizing: border-box;
  margin-top: 30px;
  width: 700px;
  background-color: #f3f3f3;
  border-radius: 20px;
  border: 1px solid #e0e0e0;
  box-shadow: 0px 3px 3px #e0e0e0;
  padding: 50px;
  margin-bottom: 60vh;
  animation: fade 1s ease-in;
}
.articleContent img{
  max-width: 100%;
  object-fit: contain;


}
.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.detailBar {
  display: flex;
  flex-direction: row;
}
.updatedTime {
  margin-left: auto;
}
.user {
  font-size: 14px;
}
.views {
  display:flex ;
  justify-content: center;
  align-items: center;
  font-size: 14px;
}
.RemoveRedEyeIcon{
  vertical-align: middle;
  margin-right: 5px;
  margin-top: 1px;
  font-size: 16px;
}
.title {
  margin: 15px 0px;
  margin-bottom: 20px;
  font-size: 22px;
  font-weight: bold;
}
.tag {
  font-size: 14px;
  margin-right: 18px;
}
.updatedTime {
  font-size: 14px;
}
.summary {
  margin-top: 20px;
  font-size: 14px;
  line-height: 30px;
}

.content{
  font-size: 14px;
  line-height: 28px;
}

.content h1{
  margin-top: 55px;
  margin-bottom:25px;
  font-size: 20px;
  font-weight: bold;
}

.content h2{
  margin-top: 50px;
  margin-bottom:20px;
  font-size: 18px;
  font-weight: bold;
}

.content h3{
  margin-top: 50px;
  margin-bottom:20px;
  font-size: 16px;
  font-weight: bold;
}

@keyframes fade {
  0% { opacity: 0; }
  100% { opacity: 1; }
}