.mainPage {
  width: 100vw;
  height: 100vh;
  display: flex;
  flex-direction: row;
  justify-content: center;
  background-color: #f9f9f9;
  z-index: 2;
  position: relative;
  overflow: hidden;
}
.center {
  margin-top: auto;
  margin-bottom: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 48px;
  font-weight: bold;
  padding-bottom: 35px;
}

.country {
  width: 40px;
  height: 21px;
  margin-left: 20px;
  margin-top: 8px;
  background-color: #343434;
  font-size: 14px;
  text-align: center;
  color: #ffffff;
}
.search {
  width: 680px;
  height: 37px;
  border-radius: 20px;
  text-indent: 15px;
  background-color: #f9f9f9;
  box-shadow: 0px 3px 5px #c0c0c0;
}
.iconButton {
  border-radius: 50%;
  background-color: #f9f9f9;
  margin-left: 10px;
  vertical-align: middle;
  box-shadow: 0px 3px 5px #c0c0c0;
}
.searchIcon {
  font-size: 30px;
}
.round {
  overflow: hidden;
}
.topLeft {
  width: 54vw;
  height: 73.5vh;
  position: absolute;
  left: -22.23%;
  top: -22.38%;
}
.topRight {
  width: 54vw;
  height: 73.5vh;
  position: absolute;
  right: -15.05%;
  top: -33.86%;
}
.bottomLeft {
  width: 61vw;
  height: 82vh;
  position: absolute;
  transform: rotate(-25.74deg);
  left: -17.22%;
  bottom: -40.71%;
  
}
.bottomRight {
  width: 54vw;
  height: 73.5vh;
  position: absolute;
  right: -13.51%;
  bottom: -45.32%;
  transform: rotate(25.98deg);
}
