.recommendCard {
  font-size: 18px;
  font-weight: bold;
}
.recommendItems {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}
.recommendItem {
  font-size: 14px;
}
button{
  content: none;
}