.mainContent {
  width: 960px;
  margin: 0 auto;
  background-color: #f9f9f9;
}

.main {
  display: flex;
  flex-direction: row;
  margin-top: 46px;
  background-color: #f9f9f9;

}

/* 右侧卡片区域 */
.displayPanel {
  position:relative;
  margin-left: 320px;
  margin-top: 4px;
  width: 630px;
  max-height: calc(100vh - 46px);
  min-height:800px;

}
.totalResults {
  font-size: 14px;
  margin-bottom: 20px;
}
.cardContainer {
  display: flex;
  flex-direction: row;
  align-items:flex-start;
}

.col2{
  margin-top: 30px;
  

}







.ad{
  margin-top: 33px;
}

