
.article-body {
    width: 960px;
    margin: 20px auto 0 auto;
}

.article-title{
    display: flex;
    flex-direction: column;
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 20px;
}


.head{
    display: flex;
    flex-direction: row;
}
.time{
    margin-left: 20px;
}