.App {
  height: 100vh;
  width: 100vw;
  position: absolute;
}

.left-nav-notActive {
  margin-top: 2%;
  position: fixed;
  width: 150px;
  height: 50px;
  background-color: whitesmoke;
}
.left-nav-active {
  margin-top: 2%;
  position: fixed;
  width: 15%;
  height: 70%;
  background-color: whitesmoke;
}

.nav-title {
  padding-top: 10px;
  margin-left: 10%;
  font-size: 26px;
  display: flex;
  text-align: center;
}
.nav-title-title {
  flex-direction: column;
}

.nav-title-icon {
  flex-direction: column;
}

@font-face {
  font-family: "iconfont"; /* Project id 3456289 */
  src: url("//at.alicdn.com/t/font_3456289_ak2s8iwt3fl.woff2?t=1654864184729")
      format("woff2"),
    url("//at.alicdn.com/t/font_3456289_ak2s8iwt3fl.woff?t=1654864184729")
      format("woff"),
    url("//at.alicdn.com/t/font_3456289_ak2s8iwt3fl.ttf?t=1654864184729")
      format("truetype");
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 26px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-caidan:before {
  content: "\e7c6";
}
