.panel {
  width: 960px;
  padding-top: 10px;
  margin: auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.nav-bar {
  width: 144px;
  background-color: #e6dcd8;
  height: 300px;
  border-radius: 20px;
  margin-top: 5vh;
}

.display-window {
  margin-left: 20px;
  background-color: #e6dcd8;
  margin-top: 5vh;
  border-radius: 20px;
}

input {
  background-color: #d9d9d9;
  border: none;
  margin: 10px auto;
  outline: medium;
}
select {
  background-color: #d9d9d9;
  border: none;
}
.edit-title {
  width: 300px;
}

.fillup-form {
  margin-left: 40px;
}
.selection-form {
  display: flex;
  flex-direction: row;
  justify-content: center;
}
.submitarticle {
    display: block;
    margin: 10px auto 20px auto;
}